<!DOCTYPE html>
<html>
<%- include('chunks/head.ejs') %>
<body>
  <%- include('chunks/navbar.ejs') %>

  <div class="container">
    <div class="row justify-content-center">
    <div class="col-sm-6 col-sm-offset-3">
      <h1><span class="fa fa-user-plus"></span> Signup</h1>

      <% if (message.length > 0) { %>
      <div class="alert alert-danger"><%= message %></div>
      <% } %>

      <form action="/signup" method="post">
        <div class="input-group mb-3">
          <label class="input-group-text" id="name">Name</label>
          <input type="text" class="form-control" placeholder="Enter your name" name="name" aria-label="Name" aria-describedby="name" required />
        </div>
        <div class="input-group mb-3">
          <label class="input-group-text" id="email">Email</label>
          <input type="email" class="form-control" placeholder="Enter your email" name="email" aria-label="Email" aria-describedby="email" required>
        </div>
        <div class="input-group mb-3">
          <label class="input-group-text" id="password">Password</label>
          <input type="password" class="form-control" placeholder="Enter your password" name="password" aria-label="Password" aria-describedby="password" required>
        </div>
        <button type="submit" class="btn btn-success btn-lg">Signup</button>
      </form>

      <hr />

      <p>Already have an account? <a href="/login">Login</a></p>
      <p>Or go <a href="/">home</a>.</p>
    </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>
</html>
